.home_container{
    background: url('../assets/download.png') no-repeat center;
    position: relative;
background-position: center;
background-size: cover;
width: 100%;height:88vh;
}
.navbar{

margin-right: 20px;
margin-top: 10px;
width: 100%;

}
.navbar-nav .nav{
    padding: 0px 20px;
    color: #fff;
  
}